.app.dark {
    --bg-color: #001F3F;
    --inverted-bg-color: #ffffff;

    --primary-color: #2ECC40;
    --secondary-color: #39CCCC;
    --inverted-primary-color: #85144B;
    --inverted-secondary-color: #000;
}