.app.light {
    --bg-color: #ffffff;
    --inverted-bg-color: #001F3F;

    --primary-color: #85144B;
    --secondary-color: #000;

    --inverted-primary-color: #2ECC40;
    --inverted-secondary-color: #39CCCC;
}